<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <Resource name="jdbc/javaproject"
              auth="Container"
              type="jakarta.sql.DataSource"
              maxTotal="20"
              maxIdle="10"
              maxWaitMillis="-1"
              username="root"
              password="Bokagi89."
              driverClassName="org.mariadb.jdbc.Driver"
              url="jdbc:mariadb://localhost:3306/javaproject"/>

</Context>